*{
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
/* NAVBAR START */
.navbar{
    position: absolute;
    /* position: sticky; */
    left: 270px;
    top: -8px;
    width: 75%;
    height: 13%;
    text-align: center;
}
.navlinks{
  border-radius: 8px;
  border: 2px solid white;
  background-color: transparent;
  position: sticky;
  width: 98%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 360px;
}
li{
  float: left;
}
li a{
  display: block;
  font-size: 1.4rem;
  padding: 20px;
  font-size: 1.3rem;
  margin-left: 35px;
  color: #fff;
}
/* NAVBAR END */

/* MAIN STYLES */
#section1{
  position: relative;
  background-color: transparent;
  min-height: 45vh;
  width: 70%;
  top: 10rem;
  left: 17%;
  display: flex;

}
.header1{
  width: 70%;
  
}
.card1-container{
  width: 65%;
  height: 700px;
}
.para1{
  width: 60%;
  font-weight: 400;
  font-size: 1.1rem;
}
.para2{
  position: relative;
  width: 60%;
  bottom: 10px;
  font-weight: 300;
}

.button1{
  width: 33%;
  top: 2px;
  position: relative;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  padding: 6px 6px 6px 6px;
  height: 20px;
  justify-content: center;
}
.button-1{
  width: 100%;
  background-color: transparent;
  font-weight: lighter;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  position: relative;
 bottom: 16px;
 left: 7px;
 justify-content: center;
}
.card1-section1{
  display: flex;
  width: 60%;
  position: relative;
  left: 20px;
  top: 23px;
  justify-content: space-between;
}
.card1-header{
  display: flex;
  width: 80%;
}
.card1-body{
  width: 80%;
  font-size: 1.7rem;
}
.card1-footer p{
  font-size: 1.4rem;
  color: gray;
  width: 90%;
  margin-top: 60px;
}
 .fa {
  padding: 6px 6px 6px 6px;
  font-size: 20px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border: thin solid white;
  border-radius: 6px;
  height: 22px;

}
.fa:hover {
  opacity: 0.7;
}
.fa-instagram {
  color: white;
}
.fa-twitter {
  color: white;
}
.card2-container{
  position: relative;
  width: 47%;
  left: 100%;
  bottom: 45%;
}
.card2-image{
  position: relative;
  bottom: 100px;
  padding: 5px; 
  width: 100%;
  justify-content: center;
  border: 0.3px solid black;
  border-radius: 20px;
}
.bitmoji1{
  border: 0.3px solid black;
  height: auto;
  border-radius: 20px;

}
.section3{
  background-color: transparent;
}

.card3-container{
  width: 60%;
  background-color: transparent;
  height: 200px;
}
.marquee{
  position: relative;
}
h3{
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  width: 20%;
  position: relative;
  left: 75%;
}
strong{
  font-style: oblique;
}
.marquee1{
  position: relative;
  left: 650px;
  width: 60%;
  height: 300px;
}
.marquee1 img{
  width: 20%;
  height: auto;
  gap: 300px;
}
.marquee-img{
  height: 150px;
  margin-left: 70px;
}

.card4-container{
  position: relative;
  display: flex;
  top: 120px;
  padding: 5px; 
  width: 100%;

}
#projects{
  background-color: transparent;
}
.projects-bitmoji{
  position: relative;
  width: 25%;
  border: 0.3px solid black;
  border-radius: 20px;
  left: 350px;
}
.bitmoji2{
  position: relative;
  left: 40px;
  border: 0.3px solid black;
  height: auto;
  border-radius: 20px;
}
.card5-container{
  position: relative;
  width: 40%;
  left: 400px;
}
.card5-header{
  position: relative;
  bottom: 50px;
  width: 100%;
}
h4{
  font-style: normal;
  font-size: 3.4rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  width: 90%; 
}
strong{
  font-weight: 500;
  font-stretch: expanded;
}
.card5-body p{
  width: 80%;
  font-size: 1.4rem;
  color: gray;
  position: relative;
  bottom: 75px;
  left: 5px;
}
#my-projects{
  position: relative;
  top: 150px;
}
.button5{
 width: 38%;
 background-color: transparent;
 font-weight: lighter;
 font-weight: 400;
 font-size: 18px;
 font-family: "Roboto", sans-serif;
 position: relative;
 bottom: 16px;
 left: 7px;
 justify-content: center;
}
.card5-footer{
  position: relative;
  width: 60%;
  min-height: 30px;
}
.card6-container{
  position: relative;
  top: 80px;
  width: 100%;
  min-height: 200px;
  gap: 120px;
}
.projects-images{
  position: relative;
  width: 100%;
  min-height: 150px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  gap: 120px;
}
.projects-section1{
  position: relative;
  display: flex;
  width: 100%;
  min-height: 200px;
  gap: 100px;
 
}
.ireporter{
  position: relative;
  left: 250px;
  width: 35%;
  height: auto;
  min-height: 100px;
  background-image: linear-gradient( 110.1deg,  rgba(30,2,83,1) 44.2%, rgba(198,55,160,1) 138.2% );
  border: 0.3px solid black;
  border-radius: 20px;
}
.ireporter-p1{
  position: absolute;
  top: 250px;
  left: 50px;
  font-size: 26px;
  font-weight: 400;
  background-color: black;
}
.ireporter-p2{
  position: absolute;
  top: 294px;
  left: 50px;
  background-color: black;
  font-size: 1.1rem;
  color: gray;
  width: 48%;
  opacity: 1.0;
}
.ireporter-link{
  position: absolute;
  top: 282px;
  right: 475px;
  background-color: black;
}
.i-reporter{
  width: 85%;
  min-height: 100px;
  position: relative;
  left: 48px;
  top: 50px;
  opacity: 0.8;

}
.primeride{
  width: 85%;
  min-height: 100px;
  position: relative;
  left: 48px;
  top: 50px;
  opacity: 0.8;
  height: auto;

}
.primeride-connect{
  position: relative;
  left: 250px;
  width: 35%;
  min-height: 100px;
  background: #fceabb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 0.3px solid black;
  border-radius: 20px;
}
.projects-section2{
  position: relative;
  top: 150px;
  width: 100%;
  min-height: 450px;
}
.primeride-p1{
  position: absolute;
  top: 251.8px;
  left: 50px;
  font-size: 26px;
  font-weight: 400;
  background-color: black;
  color: #FDC830;
}
.primeride-p2{
  position: relative;
  left: 50px;
  width: 48%;
  color: white;
  font-size: 1.2rem;
  top: 2px;
  background-color: black;
}
.primeride-link{
  position: relative;
  top: 20px;
  right: 305px;
  background-color: black;
}
.letsconnect-img{
  position: relative;
  left: 650px;
  width: 35%;
  min-height: 360px;
  background: #FF416C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 0.3px solid black;
  border-radius: 20px;
}
.letsconnect{
  width: 85%;
  min-height: 100px;
  position: relative;
  left: 48px;
  top: 60px;
  opacity: 0.8;
  height: auto;

}
.letsconnect-p1{
  position: absolute;
  top: 255px;
  left: 50px;
  font-size: 26px;
  font-weight: 400;
  color: #FF416C;
  background-color: black;
}
.letsconnect-p2{
  position: relative;
  top: 8px;
  left: 50px;
  background-color: black;
  font-size: 1.2rem;
  color: gray;
  width: 48%;
  opacity: 1.0;
}
.letsconnect-link{
  position: relative;
  top: 26px;
  right: 360px;
  background-color: black;
  color: red;
}
.section4{
  position: relative;
  top: 400px;
  display: flex;
  width: 65%;
  left: 450px;
}
.section4-text{
  display: block;
  width: 38%;
}
h5{
  font-size: 1.9rem;
  font-family: "Roboto", sans-serif;
}
.sect4-web{
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}
.section4 p{
  font-size: 1.4rem;
  color: gray;
  font-weight: 400;
  font-family: "Roboto", sans-serif; 
}
.sect4{
  font-weight: 600;
  font-style: italic;
  font-size: 2.7rem;
  font-family: "Roboto", sans-serif;

}
.button6{
  width: 30%;
  top: 2px;
  position: relative;
  padding: 6px 6px 6px 6px;
  height: 20px;
  justify-content: center;
}
.button-6{
  width: 100%;
  background-color: transparent;
  font-weight: lighter;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  position: relative;
 bottom: 4px;
 justify-content: center;
}
.section4-bitmoji{
  position: relative;
  left: 120px;
  width: 25%;
  border: 0.3px solid black;
  border-radius: 20px;
}
.bitmoji6{
  position: relative;
  left: 40px;
  border: 0.3px solid black;
  border-radius: 20px;
  height: auto;
}
footer{
  position: relative;
  width: 25%;
  top: 600px;
  left: 850px;
}
.footerp1-span{
  position: relative;
  bottom: 8px;
  font-size: 1.0rem;
}
.footer-p1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.0rem;
}
.footer-p2{
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}
/* MAIN STYLES */


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media screen and (max-width: 480px) {
  *{
    max-width: 100%;
  }
  #section1{
    position: relative;
    display: block;
    background-color: transparent;
    width: 100%;
  }
  .card1-container{
    position: relative;
    display: block;
    width: 100%;
    right: 70px;
  }
  .card1-header{
    position: relative;
    width: 98%;
  }
  .card1-section1{
    position: relative;
    right: 100px;
    display: flex;
    gap: 4px;
    width: 45%;
  }
  .header1{
    width: 50%;
    position: relative;
  }
  .para1{
    width: 100%;
  }
  .para2{
    width: 100%
  }
  .button1{
    position: relative;
    width: 95%;
    justify-content: center;
  }
  .button-1{
    position: relative;
    width: 87%;
    font-size: 1.0rem;
  }
  .card2-container{
    position: relative;
    width: 100%;
    display: block;
  }
  .card2-image{
    position: relative;
    display: block;
  }
  .bitmoji1{
    position: relative;
    display: block;
    top: 470px;
    right: 450px;
    width: 85%;
  }
  #section3{
    position: relative;
    width: 100%;
    top: 450px;
    margin: 0;
    min-height: 400px;
  }
  .card3-container{
    position: relative;
    top: 40px;
    width: 90%;
    min-height: 350px;
    display: block;
  }
  .marquee{
    position: relative;
    width: 100%;
    top: 50px;
    margin: 0;
    min-height: 50px;
    background-color: transparent;
  }
  h3{
    position: absolute;
    width: 160px;
    left: 150px;
    margin: 0;
    background-color: transparent;
    min-height: 100px;
    justify-content: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  } 
  .marquee1{
    position: absolute;
    left: 70px;
    height: 100px;
    width: 90%;
    margin: 0;
    top: 40px;
    background-color: transparent;
  }
  #projects{
    position: relative;
    width: 100%;
    display: block;
    top: 300px;
    margin: 0;
  }
  .card4-container{
    position: relative;
    width: 90%;
    min-height: 300px;
    display: block;
    margin: 0;
  }
  .projects-bitmoji{
    position: absolute;
    left: 10px;
    margin: 0;
    width: 80%;
  }
  .card5-container{
    position: absolute;
    left: 50px;
    top: 400px;
    display: block;
    width: 100%;
  }
  .card5-footer{
    position: relative;
    width: 80%;
  }
  .button5{
    position: absolute;
    width: 60%;
    left: 50px;
  }
  .bitmoji2{
    position: relative;
    margin-right: 1200px;
  }
  #my-projects{
    position: relative;
    top: 1100px;
    min-height: 1500px;
    width: 100%;
  }
  .card6-container{
    position: relative;
    width: 100%;
    min-height: 1200px
  }
  .projects-images{
    position: relative;
    left: 0;
    width: 97%;
  }
  .projects-section1{
    position: absolute;
    display: block;
    width: 90%
  }
  .projects-section2{
    position: relative;
    top: 800px;
    left: 0;
  }
  .ireporter{
    position: absolute;
    width: 100%;
    min-height: 280px;
    left: 30px;
  }
  .i-reporter{
    position: relative;
    width: 100%;
    left: 0px;
    bottom: 200px;
    min-height: 250px
  }
  .ireporter-p1{
    position: absolute;
    left: 10px;
    top: 220px;

  }
.ireporter-p2{
  position: absolute;
  left: 10px;
  width: 100%;
  top: 260px;
}
.ireporter-link{
  position: absolute;
  font-size: 10px;
  width: 6%;
  top: 250px;
  left: 120px;
}
.primeride-connect{
  position: absolute;
  width: 100%;
  min-height: 200px;
  left: 30px;
  top: 400px;
}
.primeride{
  position: relative;
  width: 100%;
  left: 0px;
  bottom: 200px;
  min-height: 250px
}
.primeride-p1{
  position: absolute;
  left: 1px;
  top: 222px;
  color: white;
 
}
.primeride-p2{
  position: absolute;
  left: 0;
  top: 260px;
  width: 50%;
  color: gray;
  width: 100%
}
.primeride-link{
  position: absolute;
  font-size: 10px;
  width: 6%;
  top: 255px;
  left: 215px;
}
.projects-section2{
  position: absolute;
  display: block;
  width: 100%;
  min-height: 200px;
}
.letsconnect-img{
  position: absolute;
  width: 90%;
  left: 30px;
  min-height: 120px;
}
.letsconnect{
  position: relative;
  width: 100%;
  left: 0px;
  bottom: 250px;
  min-height: 250px
}
.letsconnect-p1{
  position: absolute;
  left: 1px;
  top: 212px;
  width: 40%;
  color: white;
 
}
.letsconnect-p2{
  position: absolute;
  left: 0;
  top: 250px;
  width: 50%;
  color: gray;
  width: 100%
}
.letsconnect-link{
  position: absolute;
  font-size: 10px;
  width: 6%;
  top: 240px;
  left: 160px;
}
#services-section{
  position: relative;
  left: 0;
  top: 750px;
}
.section4{
  position: relative;
  width: 100%;
  display: block;
  min-height: 400px;
  top: 100px;
  left: 40px;
}
.section4-text{
  position: relative;
  width: 90%;
  display: block;
  left: 0px;
}
.sect4{
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.sect4-web{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.section4-bitmoji{
  position: relative;
  width: 100%;
  left: 0;
  top: 100px;
}
.bitmoji6{
  position: relative;
  left: 0
}
.footer-container{
  position: relative;
  width: 80%;
  top: 1000px;
  left: 60px;
}

};
/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

 };

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 

 };

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

 };